body{
    background-color: #2b2d2f !important;
    color:#18dcff !important;
}
h1{
    font-size: 60px;
    color: #18dcff;
}
ul, li{
    font-size: 45px;
    border-color: #18dcff !important;
    border-bottom: 1px solid #18dcff;
    background-color: #262626 !important;
    padding: 0 !important;
    text-align: center;
}
.active{
    background-color: #18dcff !important;
    color: #262626 !important;
}
.center{
    text-align: center !important;
    margin: 0 auto !important;
}
.fa-arrow-left, .fa-arrow-right, 
.fa-play-circle, .fa-compress,
.fa-times-circle, .fa-plus{
    font-size: 75px !important;
    color: #18dcff;
    cursor: pointer;
}